<a href="javascript:void(0)" title="Ikea Tradfri" class="dropdown-toggle" data-toggle="dropdown" data-bind="visible: canDisplayNavbar()">
    <i data-bind="attr: {'class': iconClass}"></i>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
    <li><a class="action_plugin_ikea_tradfri" href="javascript:void(0)" data-bind="click: turnOn">{{_("Turn on outlet")}}</a></li>
    <li><a  class="action_plugin_ikea_tradfri" href="javascript:void(0)" data-bind="click: turnOff">{{_("Turn off outlet")}}</a></li>
</ul>