<div>
    <!--ko foreach: settings.settings.plugins.ikea_tradfri.selected_devices-->
    <h4 data-bind="text:$data.name"></h4>
    <div data-bind="visible: $data.turn_off_mode() == 'cooldown'">
        <div data-bind="visible: $parent.sidebarInfoCooldownPlanned($data)">
            <p data-bind="visible: $data.cooldown_hotend()  > -1">{{ _("Waiting hotend cooldown at")}} <span data-bind="text: $data.cooldown_hotend"></span>°C</p>
            <p data-bind="visible: $data.cooldown_bed() > -1">{{ _("Waiting bed cooldown at")}} <span data-bind="text: $data.cooldown_bed"></span>°C</p>
            <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.cancelShutdown">{{_("Cancel scheduled shutdown")}}</button>
        </div>
        <div data-bind="visible: !$parent.sidebarInfoCooldownPlanned($data)">
           <p>{{ _("No cooldown shutdown planned") }}</p>
        </div>

    </div>
    <div data-bind="visible: $parent.sidebarInfoShutdownPlanned($data)">
        <p>Shutdown planned at <span data-bind="text: $parent.sidebarShutdownAt($data)"></span></p>
        <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.postponeShutdown">{{_("Postpone shutdown for ")}} <span data-bind="text: $data.postpone_delay"></span> secs</button>
        <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.cancelShutdown">{{_("Cancel scheduled shutdown")}}</button>
        <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.shutdownNow">{{_("Shutdown now")}}</button>
    </div>
    <div data-bind="visible: !$parent.sidebarInfoShutdownPlanned($data)">
        <p>{{ _('No time shutdown planned')}}</p>
        <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.postponeShutdown">{{_("Scheduled shutdown in")}} <span data-bind="text: $data.postpone_delay"></span> secs</button>
        <button class="btn btn-secondary" data-bind="enable: !$parent.printer.isPrinting(), click: $parent.shutdownNow">{{_("Shutdown now")}}</button>
    </div>
    <!--/ko-->

</div>
