<div>

    <h1>{{_('Setup Ikea TRADFI')}}</h1>

    <div>
        <h2>{{_('Step 1: Connection')}}</h2>

        <div class="control-group">
            <label class="control-label">{{ _('Ikea Gateway IP') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" name="gateway_ip" autocomplete="off"  id="wizardIkeaTradfriGateway" data-bind="value: settings.settings.plugins.ikea_tradfri.gateway_ip">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Ikea Gateway security code') }}</label>
            <div class="controls">
                <input type="password" class="input-block-level" name="security_code" autocomplete="off"  id="wizardIkeaTradfriSecurityCode" data-bind="value: settings.settings.plugins.ikea_tradfri.security_code">
            </div>
        </div>


        <span data-bind="visible: wizardError(), text: wizardError()"></span>

        <button class="btn" data-bind="click: wizardTryConnect, disable: wizardDevices().length">{{_('Try to connect')}}</button>


    </div>

    <div data-bind="visible: wizardDevices().length">

        <h2>{{_('Step 2: Select outlet')}}</h2>

        <div class="control-group">
            <label class="control-label">{{ _('Printer outlet') }}</label>
            <div class="controls">
                <select id="wizardIkeaTradfriDevices" data-bind="optionsCaption: 'Choose...', optionsText: 'name', optionsValue: 'id', options: wizardDevices()"></select>
            </div>
        </div>


    </div>

</div>
